In [12]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.nonparametric.kde import KDEUnivariate
from statsmodels.nonparametric import smoothers_lowess
from pandas import Series, DataFrame
from patsy import dmatrices
from sklearn import datasets, svm
import sys

In [13]:
colnames = ['A' ,'EDA' ,'BVP' ,'TEMP' ,'EMG']
dataframe = pd.read_table('/home/tivo/Downloads/Sahil_data_for_analysis.txt', skiprows=3, header=None)

In [14]:
dataframe.describe()

,0,1,2,3,4,5,6
count,4.830750e+06,4830750.0,4.830750e+06,4.830750e+06,4.830750e+06,4.830750e+06,0.0
mean,2.415374e+06,0.0,9.445235e+03,3.244875e+04,2.654954e+04,3.278219e+04,NaN
std,1.394518e+06,0.0,5.130711e+03,6.656131e+03,6.723459e+02,1.139080e+02,NaN
min,0.000000e+00,0.0,5.138000e+03,1.960000e+02,2.483000e+04,2.366000e+04,NaN
25%,1.207687e+06,0.0,6.584000e+03,3.210500e+04,2.606800e+04,3.269700e+04,NaN
50%,2.415374e+06,0.0,6.992000e+03,3.239900e+04,2.645500e+04,3.278100e+04,NaN
75%,3.623062e+06,0.0,1.058900e+04,3.263000e+04,2.711300e+04,3.286800e+04,NaN
max,4.830749e+06,0.0,3.191200e+04,6.537300e+04,2.825200e+04,3.885600e+04,NaN

In [15]:
dataframe.head()

   0  1     2      3      4      5   6
0  0  0  8554  38892  27877  32716 NaN
1  1  0  8557  38208  27881  32863 NaN
2  2  0  8552  38612  27828  32705 NaN
3  3  0  8550  38460  27828  32901 NaN
4  4  0  8553  38444  27951  32769 NaN

In [18]:
dataframe = dataframe.drop(['6'], axis=1)
dataframe = dataframe.dropna()

ValueError: labels ['6'] not contained in axis

In [19]:
# specifies the parameters of our graphs
fig = plt.figure(figsize=(18,6), dpi=1600) 
alpha=alpha_scatterplot = 0.2 
alpha_bar_chart = 0.55

# lets us plot many diffrent shaped graphs together 
#ax1 = plt.subplot2grid((2,3),(0,0))
# plots a bar graph of those who surived vs those who did not.               
dataframe.3.value_counts().plot(kind='bar', alpha=alpha_bar_chart)
# this nicely sets the margins in matplotlib to deal with a recent bug 1.3.1
ax1.set_xlim(-1, 2)
# puts a title on our graph
plt.title("Distribution of Survival, (1 = Survived)")

SyntaxError: invalid syntax (<ipython-input-19-b94775189c88>, line 9)